
#board{
	margin: auto;
	width: 600px;
	max-width:  100%;
	display:  flex;
	flex-wrap:  wrap;
}

#board>button{
	width: 200px;
	height: 200px;  
	max-width: 33.33%;
	font-size:  10em;
}

#textVictory{
	visibility: hidden;
	color: Chartreuse;
}
.rest{
    text-align: center;
    color: rgba(255, 85, 136, 0.836);
    text-decoration: none;
    font-size: x-large;
	display: none;
}
body{
	text-align: center;
}
.rest{
    text-align: center;
    color: rgba(255, 85, 136, 0.836);
    text-decoration: none;
    font-size: x-large;
	display: none;
}
body{
	text-align: center;
}